/*____________________ЗМІННІ___________________________*/

:root {

    /*____________________COLOR___________________________*/
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navyBlue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --lightSlate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyBlueModal: rgba(46, 47, 66, 0.4);
    --grey: #2e2f42b3;
    --white: #ffffff;
    --dairy: #FCFCFC;

/*____________________FONTS___________________________*/

    --logoFont: "Raleway", sans-serif;


/*____________________ANIMATION___________________________*/

    --duration: 250ms;
    --timingFunction: cubic-bezier(0.4, 0, 0.2, 1);


    /*____________________FLEX___________________________*/
    --items: 3;
    --indent-column: 24px;
    --indent-row: 72px;

    /* @media only screen and (min-width: 768px) and (max-width: 1157.98px) {
        --indent-row: 72px;
    } */

    @media only screen and (min-width: 1158px) {
            --indent-row: var(--indent-column);
        }

    
}


/*____________________ЗАГАЛЬНІ НАЛАШТУВАННЯ___________________________*/

body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--white);
    color: var(--slate);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    padding: 0;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
.section  {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
    max-width: 428px;
    /* max-width: 1158px; */
    min-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    outline: 1px solid red;
}

@media only screen and (min-width: 768px) {
.container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}



/*____________________FLEX___________________________*/

 .card-set {
     display: flex;
     flex-wrap: wrap;
     row-gap: var(--indent-row);
     column-gap: var(--indent-column);
 }

 .card-set-item {
     flex-basis: calc((100% - var(--indent-column) * (var(--items) - 1)) / var(--items));
 }







/*____________________СПІЛЬНІ НАЛАШТУВАННЯ___________________________*/

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navyBlue);
    letter-spacing: 0.02em;
}

.section-title:not(:last-child) {
    margin-bottom: 72px;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navyBlue);
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.subtitle:not(:last-child) {
    margin-bottom: 8px;
}

.card-info {
    padding: 32px 16px;
}

/*____________________СПІЛЬНІ НАЛАШТУВАННЯ - EЛЕМЕНТИ ФОРМИ___________________________*/

.button {
    /* font-family: "Roboto", sans-serif; */
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.5;
    /* display: inline-block; */
    display: block;
    border-radius: 4px;
    /* transition: background-color var(--duration) var(--timingFunction), color var(--duration) var(--timingFunction), border-color var(--duration) var(--timingFunction); */
}

.input {
    height: 40px;
    width: 100%;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color var(--duration) var(--timingFunction);
}

.input::placeholder {
    letter-spacing: 0.04em;
    font-size: 12px;
    font-family: inherit;
    transition: transform var(--duration) var(--timingFunction);
}

.input:focus {
    border-color: var(--iris);
}

.input:focus::placeholder {
    transform: translate(-100%, 0);
}


/*____________________СПІЛЬНІ НАЛАШТУВАННЯ - SOCIAL___________________________*/


.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social-item {}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color var(--duration) var(--timingFunction);
}

.social-icon {
    fill: var(--cloud);
}



/*____________________HEADER___________________________*/

.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 76px;
}

.navigation {
    display: flex;
    align-items: center;
    /* column-gap: 76px; */
}

.logo {
    font-family: var(--logoFont);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--iris);
    letter-spacing: 0.03em;
}

.header-logo {
    margin-right: 76px;
}

.logo-decor {
    color: var(--navyBlue);
}

.menu {
    display: flex;
    align-items: center;
    /* column-gap: 40px; */
    gap: 40px;
    flex-wrap: wrap;
}

.menu-item {
}

.menu-link,
.contacts-link {
    transition: color var(--duration) var(--timingFunction);
}

.menu-link {
    display: inline-block;
    font-weight: 500;
    color: var(--navyBlue);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
}

.menu-link-active::after {
 content: "";
 position: absolute;
 bottom: -1px;
 left: 0;
 width: 100%;
 height: 4px;
 border-radius: 2px;
 background-color: var(--ocean);
}

.menu-link-active,
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--ocean);
}

.contacts-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* column-gap: 40px; */
    /* row-gap: 20px; */
    gap: 40px;
}

.contacts-link {
    color: var(--slate);
}


/*____________________HERO___________________________*/

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/bg_mob@1x.jpg);
    background-color: var(--navyBlue);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;
    padding: 112px 0;
    max-width: 1440px;
    margin: 0 auto;
}

/* Mobile screen  retina */
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/bg_mob@2x.jpg);
    }
}

@media only screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
    }
}


/* Tablet screen */
@media only screen and (min-width: 429px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/bg_tablet@1x.jpg);
    }

    /* Retina*/
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/bg_tablet@2x.jpg);
        }
    }
}


/* Desktop screen */
@media only screen and (min-width: 769px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/bg_pc@1x.jpg);
    }

    /* Retina*/
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/bg_pc@2x.jpg);
        }
    }
}

.main-title {
    color: var(--white);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 320px;
    margin: 0 auto;
    text-transform: capitalize;
}

.main-title:not(:last-child) {
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
.main-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .main-title:not(:last-child) {
        margin-bottom: 36px;
    }
}

@media only screen and (min-width: 1158px) {
    .main-title:not(:last-child) {
        margin-bottom: 48px;
    }
}

.button-main {
    color: var(--white);
    background-color: var(--iris);
    padding: 16px 32px;
    min-width: 169px;
    margin: 0 auto;
    transition: background-color var(--duration) var(--timingFunction);
}

.button-main:hover,
.button-main:focus {
    background-color: var(--ocean);
}


/*____________________BENEFITS___________________________*/

.benefits {
   
}

.benefits-list {
    --items: 1;
}

@media only screen and (min-width: 768px) {
    .benefits-list {
        --items: 2;
    }
}

@media only screen and (min-width: 1158px) {
    .benefits-list {
        --items: 4;
    }
}

.benefits-wrap-icon {
    display: none;
}


@media only screen and (max-width: 1157.98px) {
    .benefits-subtitle {
        font-size: 36px;
    }
}


@media only screen and (min-width: 1158px) {
    .benefits-wrap-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 24px 100px; */
        height: 112px;
        background-color: var(--cloud);
        border-radius: 4px;
        }
     .benefits-wrap-icon:not(:last-child) {
            margin-bottom: 8px;
        }
}

.benefits-icon {}





/*____________________SPECIALTY___________________________*/

.specialty {
    padding-top: 0;
}

@media only screen and (max-width: 1157.98px) {
 .specialty {
    display: none;
  }
}




/*____________________TEAM___________________________*/

.team {
    background-color: var(--cloud);
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .team-container {
        padding: 0 108px;
    }

    .team-list {
            --indent-row: 64px;
    }
}

.team-list {
    --items: 1;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .team-list  {
    --items: 2;
  }
}

@media only screen and (min-width: 1158px) {
    .team-list {
        --items: 4;
    }
}

.team-item {
    flex: 0 0 264px;
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-info {
    padding: 32px 16px;
}

.team-text:not(:last-child) {
    margin-bottom: 8px;
}

.team-social-list {
    justify-content: center;
    gap: 24px;
}

.team-social-link {

}

.team-social-link:hover, .team-social-link:focus {
    background-color: var(--ocean);
}

@media only screen and not (:hover) {
    .team-social-link:active {
        background-color: var(--ocean);
    }
}




/*____________________CUSTOMERS___________________________*/

.customers {}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
 .customers-container {
    padding: 0 108px;
  }
}


.customers-list {
    --items: 1;
    /* --indent-column: 16px; */
    align-items: center;
}

@media only screen and (max-width: 767.98px) {
.customers-list {
        --indent-column: 16px;
    }
}

.customers-item {
    /* flex: 0 0 190px;
    min-width: 190px; */
    height: 88px;
    /* flex-grow: 1; */
}


@media only screen and (min-width: 428px) {
    .customers-list {
        --items: 2;
    }
}


@media only screen and (min-width: 768px) {
    .customers-list {
        --items: 3;
        /* --indent-column: 24px; */
    }

    .customers-item {
        flex: 0 0 168px;
        }
}

@media only screen and (min-width: 1158px) {
    .customers-list {
        --items: 6;
    }
}


.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-basis: 168px; */
    /* min-width: 168px; */
    width: 100%;
    height: 100%;
    border: 1px solid var(--lightSlate);
    border-radius: 4px;
    transition: border-color var(--duration) var(--timingFunction), color var(--duration) var(--timingFunction);
    color: var(--lightSlate);
}

.customers-link:hover, 
.customers-link:focus {
    border-color: var(--ocean);
    color: var(--ocean);
}

.customers-icon {
    fill: currentColor;
}


@media only screen and not (:hover) {
    .customers-link:active {
        border-color: var(--ocean);
        color: var(--ocean);
    }
}



/*____________________FOOTER___________________________*/

.footer {
    background-color: var(--navyBlue);
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
.footer {
        padding: 100px 0;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
    text-align: center;
}


@media only screen and (min-width: 768px) {
.footer-container {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        text-align: left;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
   .footer-container {
        padding: 0 108px;
        column-gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-info:not(:last-child) {
            margin-right: 120px;
        }
    
    .footer-social:not(:last-child) {
            margin-right: 80px;
        }

}

.footer-info {
    /* flex-basis: 264px; */
    max-width: 264px;
}

.footer-social {
    /* flex-basis: 208px; */
    max-width: 208px;
}

.footer-logo {
    display: inline-block;
}

.footer-logo:not(:last-child) {
    margin-bottom: 16px;
}

.footer-text {
    color: var(--cloud);
}

.footer .logo-decor {
    color: var(--cloud);
}

.footer-text-orientation {
    text-align: left;
}

.footer-text-weight {
    font-weight: 500;
    color: var(--white);
}

.footer-text-weight:not(:last-child) {
    margin-bottom: 16px;
}

.footer-social-list {
    gap: 16px;
}

.footer-social-link {}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green);
}

@media only screen and not (:hover) {
    .footer-social-link:active {
        background-color: var(--green);
    }
}


/*____________________FOOTER-FORM___________________________*/


.footer-subscription {
    align-self: stretch;
}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}


.footer-form-label {
    flex-basis: 100%;
}

@media only screen and (min-width: 768px) {

.footer-subscription {
        flex-basis: 453px;
}

 .footer-form {
    justify-content: space-between;
  }

  .footer-form-label {
      flex-basis: 264px;
  }
}


.footer-form-input {
    color: var(--white);
    border: 1px solid var(--white);
    font-size: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-input::placeholder {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
}

.footer-form-btn {
    min-height: 40px;
    flex-basis: 165px;
    min-width: 165px;
    /* flex-shrink: 1; */
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 16px; */
    color: var(--white);
    background-color: var(--iris);
    padding: 8px 24px;
    transition: background-color var(--duration) var(--timingFunction);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: var(--ocean);
}

.footer-form-svg {
    fill: currentColor;
    flex-basis: 24px;
    flex-shrink: 0;
    margin-left: 16px;
}

@media only screen and not (:hover) {
    .footer-form-btn:active {
        background-color: var(--ocean);
    }
}


/*____________________FILTER / PORTFOLIO___________________________*/

.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
}

@media only screen and (min-width: 768px) {
.portfolio {
        padding-top: 64px;
        padding-bottom: 96px;
    }
}

@media only screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 100px;
        padding-bottom: 120px;
    }
}

.filter {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 16px;
}

.filter:not(:last-child) {
    margin-bottom: 48px;
}

.filter-btn {
    color: var(--iris);
    background-color: var(--cloud);
    padding: 8px 16px;
    border: 1px solid var(--cornflower);
    transition: background-color var(--duration) var(--timingFunction), color var(--duration) var(--timingFunction), border-color var(--duration) var(--timingFunction);
}

@media only screen and (min-width: 768px) {
.filter {
    display: flex;
    justify-content: center;
    }

.filter:not(:last-child) {
        margin-bottom: 64px;
    }

 .filter-btn {
    padding: 12px 24px;
  }
}

@media only screen and (min-width: 1158px) {
.filter:not(:last-child) {
        margin-bottom: 72px;
    }
}


.filter-btn-active,
.filter-btn:hover,
.filter-btn:focus
 {
    color: var(--white);
    background-color: var(--ocean);
    /* border: 1px solid transparent; */
    border-color: transparent;
}

@media only screen and not (:hover) {
    .filter-btn:active {
        color: var(--white);
        background-color: var(--ocean);    
        border-color: transparent;
    }
}

.content {
    --items: 1;
}

.card {
    transition: box-shadow var(--duration) var(--timingFunction);
    flex-basis: 396px;
}

@media only screen and (max-width: 767.98px) {
    
    .filter {
            max-width: 270px;
        }

    .content {
        --indent-row: 48px;
    }
}

@media only screen and (min-width: 768px) {
    .content {
        --items: 2;
    }

    .card {
        flex-basis: 356px;
    }
}

@media only screen and (min-width: 1158px) {
    .content {
        --items: 3;
        --indent-row: 48px;
    }

        .card {
            flex-basis: 360px;
        }
}

.card:hover,
.card:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and not (:hover) {
    .card:active {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
}


.card-head {
    position: relative;
    overflow: hidden;
}

.card-img {
    /* min-width: 396px; */
    min-width: 100%;
}

.card-overlay {
    padding: 40px 32px;
    background-color: var(--iris);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    order: 2;
    transition: top var(--duration) var(--timingFunction);
}

.card:hover .card-overlay,
.card:focus .card-overlay {
    top: 0;
}

@media only screen and not (:hover) {
    .card:active .card-overlay {
        top: 0;
    }
}

.text-card-overlay {
    color: var(--cloud);
}

.portfolio-card-info {
    border: 1px solid var(--cornflower);
    border-top: none;
}




/*____________________MODAL___________________________*/

.modal {
    
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navyBlueModal);
    z-index: 99;
    transition: opacity var(--duration) var(--timingFunction), visibility var(--duration) var(--timingFunction);
}

.modal-overlay.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-window {
    padding: 72px 16px 24px;
    /* width: 392px; */
    width: 310px;
    min-height: 584px;
    background-color: var(--dairy);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--duration) var(--timingFunction);
}

.modal-overlay.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0);
}

@media only screen and (min-width: 410px) {
    .modal-window {
        padding: 72px 16px 24px;
        width: 392px;
    }
}


@media only screen and (min-width: 768px) {
    .modal-window {
        padding: 72px 24px 24px;
        width: 408px;
    }
}


.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--cornflower);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--duration) var(--timingFunction), border var(--duration) var(--timingFunction);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean);
    border: none;
}

@media only screen and not (:hover) {
    .modal-btn:active {
        background-color: var(--ocean);
        border: none;
    }
}

.modal-icon {
    fill: var(--navyBlue);
    transition: fill var(--duration) var(--timingFunction);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: var(--white);
}

@media only screen and not (:hover) {
    .modal-btn:active .modal-icon{
        fill: var(--white);
    }
}



.modal-title {
    text-align: center;
    font-weight: 500;
    color: var(--navyBlue);
    margin-bottom: 16px;
}

/*____________________MODAL-FORM___________________________*/

.modal-form {}


.modal-form-item {
    margin-bottom: 8px;
}


.form-item-text {
    margin-bottom: 16px;
}


.modal-form-label {
    color: var(--lightSlate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
}

.modal-form-label:not(:last-child) {
    margin-bottom: 4px;
}


.input-wrap {
    position: relative;
}

.modal-form-input {
    color: var(--navyBlue);
    border: 1px solid var(--navyBlueModal);
    padding: 8px 38px;
}

.textarea {
    font-size: 12px;
    line-height: 1.17;
    min-height: 120px;
    padding: 8px 16px;
    resize: none;
    color: var(--navyBlueModal);
}

.textarea::placeholder {
    color: var(--navyBlueModal);
}

.modal-form-svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: var(--navyBlue);
    transition: fill var(--duration) var(--timingFunction);
}

.modal-form-input:focus+.modal-form-svg {
    fill: var(--iris);
}

@media only screen and not (:hover) {
    .modal-form-input:active+.modal-form-svg {
        fill: var(--iris);
    }
}



.modal-form-accord {
    position: relative;
}


.modal-form-accord:not(:last-child) {
    margin-bottom: 24px;
}

.modal-checkbox-label {
    /* position: relative;
    display: flex;
    align-items: center;
    gap: 8px; */
}

/* .modal-checkbox-label::before {
    content: "";
    flex-basis: 16px;
    height: 16px;
    border-radius: 2px;
    flex-shrink: 0;
    border: 1px solid var(--navyBlueModal);
    background-color: transparent
    transition: border-color var(--duration) var(--timingFunction), background-color var(--duration) var(--timingFunction);
} */

@media only screen and (max-width: 409.98px) {
.modal-checkbox-label {
    line-height: 1.8;
  }
}


.modal-form-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


.checkbox-label-wrap {
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    flex-shrink: 0;
    fill: transparent;
    border: 1px solid var(--navyBlueModal);
    background-color: transparent;
    transition: border var(--duration) var(--timingFunction), background-color var(--duration) var(--timingFunction), fill var(--duration) var(--timingFunction);
}

.modal-form-checkbox:checked + .modal-checkbox-label>.checkbox-label-wrap {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}





.modal-form-link {
    color: var(--iris);
    transition: color var(--duration) var(--timingFunction);
}

.modal-form-link:hover,
.modal-form-link:focus {
    color: var(--ocean);
}

@media only screen and not (:hover) {
    .modal-form-link:active {
        color: var(--ocean);
    }
}


.modal-form-btn {
    margin: 0 auto;
    min-height: 56px;
    min-width: 169px;
    padding: 16px 32px;
    background-color: var(--iris);
    color: var(--white);
    transition: background-color var(--duration) var(--timingFunction);
}

.modal-form-btn:hover, 
.modal-form-btn:focus {
    background-color: var(--ocean);
}

@media only screen and not (:hover) {
    .modal-form-btn:active {
    background-color: var(--ocean);
    }
}